body{
    background-color: #F7ECDE;
}
.dotted{

    border-bottom: dotted black 2px;
}

h1{

    font-family: "Pacifico", cursive;
    font-weight: 700;
}

h1::after{
    content: "";
    position:absolute;
    width: 220px;
    height: 20px;
    background-color: #fec260;
    bottom: -2px;
    right: calc(50% - 110px);
    z-index: -1;
    transition: ease-in-out 0.4s;
}


h1:hover::after{

   height: 40px;
}